.item-promos {
  border-radius: 0;
  width: 20%;
  text-align: center;
  height: 350px;
  /* display: flex;
  align-items: center; */
  
}



.details {
  width: 150px;
  margin-bottom: 10px;
}

.title-prom {
  margin: 0 auto 20px;
}

.prom-content {
  margin-top: 50px;
}

.desc-prom {
  height: 100px;
}

/* .ddd {
  margin: 0 auto;
  display: flex;
  align-items: center;
} */
