.item-banner {
  position: relative;
}
.content-text {
  margin-top: 100px;
}

.banner-img {
  height: 600px;
  width: 600px;
}
.banner-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /*Устанавливаем направление колонки для текста друг под другом*/
}

.text-center {
  width: 400px;
  margin-bottom: 20px;
}

.ban {
  margin-bottom: 20px;
}
